extend ../layout

block content
    .wrap-content
        #slider
                a(href="/post-20170114-p8")
                    img(src="assets/images/upload/20170114-2.jpg")
                a(href="/post-20160727-p1")
                    img(src="assets/images/upload/20160727-5.jpg")
                a(href="/post-20151027-p1")
                    img(src="assets/images/upload/20151027-1.jpg")
                a(href="/post-20151027-p1")
                    img(src="assets/images/upload/20151027-5.jpg")
                .bullets
                    span.circle
                    span.circle
                    span.circle
                    span.circle
        .left-content
           .news-dynamics
                .news-dynamics-title
                    a(href='/newsdynamics') >>
                    h3 新闻动态
                .news-dynamics-box
                    ul
                        each post in newsdynamics_posts
                            - var url = '/post-' + post.date + '-' + post.title_en;
                            li
                                span #{post.date}
                                a(href=url) #{post.title_cn}

        .middle-content
             .committee-dynamics
                .committee-dynamics-title
                    a(href='commdynamics') >>
                    h3 委员动态
                .committee-dynamics-box
                    ul
                        each post in commdynamics_posts
                            - var url = '/post-' + post.date + '-' + post.title_en;
                            li
                                span #{post.date}
                                a(href=url) #{post.title_cn}
        .right-content
            input#s-content(type="text")
            input#search(type="submit" value="搜索")
            script(src="assets/js/search.js")
            
            .conf-information
                .conf-information-title
                    a(href='/confinfo') >>
                    h3 会议信息
                .conf-information-box
                    ul
                        each post in confinfo_posts
                            - var url = '/post-' + post.date + '-' + post.title_en;
                            li
                                span #{post.date}
                                a(href=url) #{post.title_cn}

           
    .friend-links
        h3 友情链接
        .link-images
            .link-image
                a(href='http://www.ccf.org.cn')
                    span 中国计算机学会
            .link-image
                a(href='http://sigmod.org')
                    span ACM-SIGMOD
            .link-image
                a(href='http://www.vldb.org')
                    span VLDB Foundation
            .link-image
                a(href='http://www.dbsj.org')
                    span DBSJ
            .link-image
                a(href='http://www.hkws.org/hkws')
                    span HKWS
    

    script(src="assets/js/slidesetting.js")
